:host{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: var(--headerHeight);
    z-index: 2;
}

header{
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 0px 1rem;
}
.menu-button{
    height: 50px;
    width: 50px;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    cursor: pointer;
    transition: background-color 150ms ease-in;
}
.menu-button:hover{
    background-color: rgba(255, 255, 255, .3);
}

.brand-name{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.7rem;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 5px;
}
button{
    font-weight: 600;
    font-size: 1.2rem;
}