.black-border{
    border: 1px solid black;
}
main{
    position: absolute;
    top: var(--headerHeight);
    left: 0;
    width: calc(100% - 0px);
    min-height: calc(100vh - var(--headerHeight));
    transition: left 100ms ease-in, width 100ms ease-in;
    z-index: 1;
}
main.main-shrink{
    left: var(--sideNavOpenWidth);
    width: calc(100% - var(--sideNavOpenWidth));
}

div{
    width: 100%;
    padding: 1rem;
    height: calc(100vh - (2 * var(--headerHeight)) );
    max-width: 1rem auto;   
}

div.display-shrink{
    width: 100%;
}