.test-duration{
    display: flex;
    justify-content: center;
    align-items: center;
}
.duration-text{
    margin-right: 1rem;
    color: var(--Gray900);
    font-size: 1.1rem;
}
label{
    font-weight: 500;
    font-size: 1rem;
    color: var(--Gray900);
}